html {
  height: 100%;
}

body {
  height: 100%;
	background-image: url('teal.png');
	background-color: grey, rgb(178, 173, 173);
	background-repeat: repeat;
	background-attachment: scroll, fixed;
	min-width: 320px;
	min-height: 420px;
}

#header-nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#header-nav ul li {
	display:inline;
	margin: 10px;
	padding: 10px;
}

#header-nav a {
	text-decoration: none;
	font-family: monospace;
	font-size: 1.6em;
	color: black;
}

#header-nav li a:hover {
	background: #ff2c86;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a:visited { color: black; }
a:active { color: black; }

#indeximg img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
    position: absolute;
    top: 0; 
    bottom:0; 
    left: 0; 
    right:0;
    margin: auto;
}

#code {
	font-family: monospace;
	font-size: 1em;
	text-align: left;
	text-decoration: none;

    position : absolute;    
    width:200px;
    height:200px;
    left:50%;
    top:35%;
    margin-left:-100px;
    margin-top:-100px;
}

#code ul {
  list-style-type: none;
  padding-left: 0;
}

#githubimg img {
  position: absolute;
    top: 37%; 
    bottom:0; 
    left: 0; 
    right:7%;
    margin: auto;
}

/*#code a {
  text-decoration: underline;
  font-family: monospace;
  font-size: 1em;
  color: black;
}*/

/*#code a:hover {
  text-decoration: none;
	background: #ff2c86;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}*/

#links {
    position : absolute;    
    width:200px;
    height:200px;
    left:50%;
    top:45%;
    margin-left:-100px;
    margin-top:-100px;
}

ul {
	list-style-type:none;
}

#links a {
	text-decoration: none;
	font-family: monospace;
	font-size: 1.7em;
	color: black;
}

#contact-links a {
	font-family: monospace;
	font-size: 1.3em;
	color: black;
	list-style-type:none;
}

#links a:hover {
	background: #ff2c86;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#experience {
	font-family: monospace;
	font-size: 1em;
	text-align: left;
	text-decoration: none;

    position : absolute;    
    width:500px;
    height:500px;
    left:45%;
    top:55%;
    margin-left:-200px;
    margin-top:-200px;
}

#experience a {
	text-decoration: underline;
	font-family: monospace;
	font-size: 1em;
	color: black;
}

#experience a:hover {
  text-decoration: none;
	background: #ff2c86;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#experience ul {
  list-style-type: circle;
}

#projects {
  font-family: monospace;
  font-size: 1em;
  text-align: left;
  text-decoration: none;

    position : absolute;    
    width:500px;
    height:500px;
    left:45%;
    top:45%;
    margin-left:-200px;
    margin-top:-200px;
}

#projects a {
  text-decoration: underline;
  font-family: monospace;
  font-size: 1em;
  color: black;
}

#projects a:hover {
  text-decoration: none;
  background: #ff2c86;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#projects ul, h2 {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.footer {
	float: center;
	font-family: monospace;
	font-size: 1.5em;
	position: fixed;
  margin-top: -60px;
  padding-top: 20px;
  padding-left: 20px;
  height: 60px;
	bottom: 0;
	z-index: 999999;
}